/* Add your styles to App.css or a separate stylesheet */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% of the viewport height */
}

.board-container {
  border: 10px solid #002d5b; /* Darker blue border around the entire grid */
  padding: 20px; /* Increased padding for more spacing */
  background-color: #004080;
  height: 320px;
  width: 320px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  align-self: center;
}

.bg {
  background-color: rgba(127, 255, 212, 0);
  color: white;
  align-items: center;
  text-align: center;
}

.board-cell {
  background-color: #3770a9; /* Blue color for the cells */
  border: none; /* Remove the border for each cell */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell-img {
  height: 75px;
}

span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.span-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  justify-content: center;
  align-items: center;
  padding: 5%;
}